*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

body{
    font-family: 'Ubuntu', sans-serif;
    background-color: rgb(22, 21, 21);
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #202421;
    color: rgb(240, 227, 227);
    border-bottom: 1px solid rgb(240, 227, 227);
}
.logo{
    color: rgb(240, 227, 227);
    text-transform: uppercase;
    font-size: 22px;
    letter-spacing: 1px;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 40%;
}
.nav-links li{
    list-style: none;
}
.nav-links a{
    color: rgb(240, 227, 227);
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 14px;
}

.burger{
    display: none;
    cursor: pointer;
}
.burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(240, 227, 227);
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 768px){
   body{
       overflow-x: hidden;
   }

   .logo{
    font-size: 3vw;
}
   
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #202421;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;

    }
    .nav-links li{
        opacity: 0;
    }

    .burger{
        display: block;
    }

}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from {
        opacity: 0;
        transition: translateX(50px);
    }
    to {
        opacity: 1;
        transition: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}

.about-container{
    display: flex;
    width: 80%;
    height: 50vh;
    margin: 0 auto;
    background-image: url("https://images.unsplash.com/photo-1593642703055-4b72c180d9b5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    margin-top: 5vh;
    
    
}
.about-content {
    width: 100%;
    text-align: center;
    background-color: rgb(22, 21, 21);
    color: rgb(240, 227, 227);
}
.about-content h1, p{
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
}