*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}
html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Ubuntu', sans-serif;
    background-color: rgb(22, 21, 21);
}

nav{
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #202421;
    color: rgb(240, 227, 227);
    border-bottom: 1px solid rgb(240, 227, 227);
}
.logo{
    color: rgb(240, 227, 227);
    text-transform: uppercase;
    font-size: 22px;
    letter-spacing: 1px;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 40%;
}
.nav-links li{
    list-style: none;
    transition: 0.8s;
}

.nav-links a{
    color: rgb(240, 227, 227);
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 14px;
    transition: 0.8s;
    
}
.nav-links a:hover{
    color: yellow;
    border-bottom: 1px solid transparent;
}

.burger{
    display: none;
    cursor: pointer;
}
.burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(240, 227, 227);
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 768px){
   body{
       overflow-x: hidden;
   }

   .logo{
    font-size: 3vw;
}
   
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #202421;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;

    }
    .nav-links li{
        opacity: 0;
    }

    .burger{
        display: block;
    }

}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from {
        opacity: 0;
        transition: translateX(50px);
    }
    to {
        opacity: 1;
        transition: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}

.about-container{
    display: flex;
    width: 80%;
    height: 50vh;
    margin: 0 auto;
    background-image: url("https://images.unsplash.com/photo-1593642703055-4b72c180d9b5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.about-content {
    width: 100%;
    text-align: center;
    background-color: rgb(22, 21, 21);
    color: rgb(240, 227, 227);
}
.about-content h1, p{
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
}

h1 {
    font-size: 3vw;
    text-align: center;
    align-items: center;
    color: rgb(240, 227, 227);
    text-decoration: underline;
    margin-top: 1.5vh;
    
}
p{
    font-size: 1.25vw;
}

.projects-container{
    display: flex;
    align-items: center;
    width: 80%;
    background-color: #202421;
    margin: 0 auto;
    border-top: 1px solid rgb(240, 227, 227);
}

.display-container{
    width: 50%;
    text-align: center;
}
.screenshot{
    width: 50%;
    margin-bottom: 1vh;
    box-shadow: 0 0 10px 5px;
}
.display-container h2{
    font-size: 2vw;
    color: rgb(240, 227, 227);
    margin: 2vw;
    text-decoration: underline;
    
}
.display-container p{
    color: rgb(240, 227, 227);
}

.buttons-container{
    width: 50%;
    text-align: center;
    
}
.btn{
    width: 17vw; 
    min-height: 5vh;
    padding: 10px 5px; 
    margin: 1vw;
    font-size: 1.75vw;
    border: 5px solid rgb(22, 21, 21);
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
    background-color: rgb(240, 227, 227);
    color: rgb(22, 21, 21);
    transition: 0.8s;
}
.btn:hover{
    background-color: #d6292e;
}

@media screen and (min-width: 1000px){
    /* Makes background picture more visible on wider screens*/
    .about-container{
        min-height: 500px;
    }

}

.contact-title{
    margin-top: 5vh;
    text-align: center;
    color: rgb(240, 227, 227);
}

.contact-container{
    width: 80%;
    background-color:#202421;
    display: flex;
    align-items: center;
    margin: 0 auto;
    
}
.contact-links{
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: space-around;
    list-style: none;
    margin-top: 2vh;
}
.contact-links li{
    margin: 3vh;
    
}
.contact-links img{
    width: 5vw;
    transition: 0.8s;
}
.contact-links img:hover{
    opacity: 0.3;
}
.email{
    width: 80%;
    text-align: center;
    font-size: 2vw;
    color: rgb(240, 227, 227);
    background-color:#202421;
    margin: 0 auto;
}

@media only screen and (max-width: 414px){

    .about-container{
    height: 30vh;
    }
    h1 {
    font-size: 5vw;
    }
    p{
    font-size: 2.5vw;
    }

    .projects-container{
    flex-wrap: wrap;
    }
    .display-container{
    width: 100%;
    }
    .screenshot{
    width: 75%;
    margin-bottom: 1vh;
    box-shadow: 0 0 10px 5px;
    }
    .display-container h2{
    font-size: 4vw;
    }
    .display-container p{
    font-size: 2.5vw;
    }

    .buttons-container{
    width: 100%;
    }
    .btn{
    width: 30vw; 
    font-size: 3vw;
    }

    .contact-title h1{
        font-size: 5vw;
    }
    
    .contact-container{
        width: 100%;
    }
    .contact-links img{
        width: 10vw;
    }
    .email{
        width: 100%;
        font-size: 4vw;
    }

    }